
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
}

body{
    background:hsl(220, 18%, 97%) ;
}

.stats-cards{
    
    
    width:90%;
    margin:2em auto;
    display: grid;
    grid-template-columns: 49% 49%;
    gap:2%;
    

    .long-cards{

        
        display: flex;
        
        

        .long-card{
            background:white;
            width:50%;
            padding:1em;
            height:416px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            div{
                i{
                    margin-bottom: .3em;
                }
                .fa-chart-line{
                    font-size:24px;
                    color:green;
                }
                .fa-handshake{
                    font-size:24px;
                    color:rgb(245, 135, 16);
                }

                .title{
                    font-size:18px;
                    margin-bottom: 1em;
                    
                }

                .count{
                    height:50px;
                    
                    padding:.3em 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    
                    background:hsl(220, 18%, 97%);
                    
                    border-radius: 4px;
                    font-weight: 500;
                    font-size:18px;
                }
            }
        }
        .long-card:nth-child(odd){
            margin-right:1em;
        }

    }
    .small-cards{
        display: grid;
        grid-template-columns: 50% 50%;
        
        height:400px;

        .small-card{
            height:200px;
            background:white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding:1em;
            


            &:nth-child(even){
                margin-left:.5em;
                margin-bottom: 1em;
            }
            &:nth-child(odd){
                margin-right:.5em;
                margin-bottom: 1em;
            }
            
            .small-card-inner{
                
                
                display: flex;
                align-items: center;
                justify-content: center;
                gap:1em;

                .fa-chart-line{
                    font-size:18px;
                    color:green;
                }
                .fa-handshake{
                    font-size:18px;
                    color:rgb(245, 135, 16);
                }
                span{
                    font-size:15px;
                    
                }
                .icon-count{
                    margin-top:.5em;
                    background:hsl(220, 18%, 97%);
                    padding:.3em .5em;
                    border-radius: 4px;
                    text-align: center;
                }
            }
        }
    }
}

.recent-data{

    width:90%;
    margin:2em auto;

    background:white;
    height:100vh;
    padding:1em;
    border-radius: 4px;
    
    

    .filter-section{
        display: flex;
        justify-content: space-between;
        align-items: center;


        .filter-section-right{
            
            border:.5px solid rgba(154, 154, 154, 0.297);
            border-radius: 24px;
            padding-right: .5em;
            select{
                height:40px;
                padding:.5em 1em;
                border:none;
                border-radius: 24px;
                outline:none;
            }
        }
        .filter-section-left{
            p{
                font-size:18px;
            }
        }
        
    }

    .line{
        height:2px;
        width:100%;
        background:rgba(128, 128, 128, 0.318);
        margin:1em 0;
    }

    .table-container{

        background:hsl(220, 18%, 97%) ;
        height:91.5%;
        width:100%;
        border-radius: 4px;
        
    }
}

.i-count{
    background:rgb(12, 118, 12) !important;
    color:white;
}
.c-count{
    background:rgb(250, 162, 0) !important;
    color:white;
}

.i-count-chrs{
    color:green;
}
.c-count-chrs{
    color:orange;
}
.shadow{
    border-radius: 4px;
    -webkit-box-shadow: -1px 2px 78px -54px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 78px -54px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 78px -54px rgba(0,0,0,0.75);
}
.shadow-sm{
    border-radius: 4px;
    -webkit-box-shadow: -1px 2px 74px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 74px -29px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 74px -29px rgba(0,0,0,0.75);
}





// media quries

@media only screen and  (max-width:800px){

    .stats-cards{
        margin-bottom: 3.5em;
        grid-template-columns: 100% !important;
        .long-card{
            height:300px !important;
        }
    }

    
}

@media only screen and  (max-width:1160px){

    .small-card-inner{
       flex-direction: column;
       gap:0 !important;
       margin-top:1em;

       .icon-count{
            margin:0 !important;
            margin-bottom: .3em !important;
            
        
       }
    }

    
}



