@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: hsl(220, 18%, 97%);
}

.stats-cards {
  width: 90%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}
.stats-cards .long-cards {
  display: flex;
}
.stats-cards .long-cards .long-card {
  background: white;
  width: 50%;
  padding: 1em;
  height: 416px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.stats-cards .long-cards .long-card div i {
  margin-bottom: 0.3em;
}
.stats-cards .long-cards .long-card div .fa-chart-line {
  font-size: 24px;
  color: green;
}
.stats-cards .long-cards .long-card div .fa-handshake {
  font-size: 24px;
  color: rgb(245, 135, 16);
}
.stats-cards .long-cards .long-card div .title {
  font-size: 18px;
  margin-bottom: 1em;
}
.stats-cards .long-cards .long-card div .count {
  height: 50px;
  padding: 0.3em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: hsl(220, 18%, 97%);
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
}
.stats-cards .long-cards .long-card:nth-child(odd) {
  margin-right: 1em;
}
.stats-cards .small-cards {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 400px;
}
.stats-cards .small-cards .small-card {
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}
.stats-cards .small-cards .small-card:nth-child(even) {
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.stats-cards .small-cards .small-card:nth-child(odd) {
  margin-right: 0.5em;
  margin-bottom: 1em;
}
.stats-cards .small-cards .small-card .small-card-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.stats-cards .small-cards .small-card .small-card-inner .fa-chart-line {
  font-size: 18px;
  color: green;
}
.stats-cards .small-cards .small-card .small-card-inner .fa-handshake {
  font-size: 18px;
  color: rgb(245, 135, 16);
}
.stats-cards .small-cards .small-card .small-card-inner span {
  font-size: 15px;
}
.stats-cards .small-cards .small-card .small-card-inner .icon-count {
  margin-top: 0.5em;
  background: hsl(220, 18%, 97%);
  padding: 0.3em 0.5em;
  border-radius: 4px;
  text-align: center;
}

.recent-data {
  width: 90%;
  margin: 2em auto;
  background: white;
  height: 100vh;
  padding: 1em;
  border-radius: 4px;
}
.recent-data .filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent-data .filter-section .filter-section-right {
  border: 0.5px solid rgba(154, 154, 154, 0.297);
  border-radius: 24px;
  padding-right: 0.5em;
}
.recent-data .filter-section .filter-section-right select {
  height: 40px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 24px;
  outline: none;
}
.recent-data .filter-section .filter-section-left p {
  font-size: 18px;
}
.recent-data .line {
  height: 2px;
  width: 100%;
  background: rgba(128, 128, 128, 0.318);
  margin: 1em 0;
}
.recent-data .table-container {
  background: hsl(220, 18%, 97%);
  height: 91.5%;
  width: 100%;
  border-radius: 4px;
}

.i-count {
  background: rgb(12, 118, 12) !important;
  color: white;
}

.c-count {
  background: rgb(250, 162, 0) !important;
  color: white;
}

.i-count-chrs {
  color: green;
}

.c-count-chrs {
  color: orange;
}

.shadow {
  border-radius: 4px;
  box-shadow: -1px 2px 78px -54px rgba(0, 0, 0, 0.75);
}

.shadow-sm {
  border-radius: 4px;
  box-shadow: -1px 2px 74px -29px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 800px) {
  .stats-cards {
    margin-bottom: 3.5em;
    grid-template-columns: 100% !important;
  }
  .stats-cards .long-card {
    height: 300px !important;
  }
}
@media only screen and (max-width: 1160px) {
  .small-card-inner {
    flex-direction: column;
    gap: 0 !important;
    margin-top: 1em;
  }
  .small-card-inner .icon-count {
    margin: 0 !important;
    margin-bottom: 0.3em !important;
  }
}/*# sourceMappingURL=ollyo.css.map */