<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Complaint | Home</title>
   
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/output.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.min.css" integrity="sha512-wCrId7bUEl7j1H60Jcn4imkkiIYRcoyq5Gcu3bpKAZYBJXHVMmkL4rhtyhelxSFuPMIoQjiVsanrHxcs2euu/w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    </script>
    <link rel="stylesheet" href="../css/raw_css.css">
</head>
<body class="bg-[#494F55]">

    <header class="bg-[#343A40] h-20">
        <nav class="flex justify-between w-[90%] m-auto max-w-[1600px] h-[100%] items-center">
            <div class="left-nav">
                <div class="logo">
                    <p class="font-medium text-white text-2xl" >Traffic <span class="text-red-400">Complaint</span></p>
                </div>
            </div>

            <div class="right-nav">
            
                <div class="nav-menus *:ml-4 *:cursor-pointer">
                    <i class="fas fa-circle-info text-white text-2xl"></i>
                    <i class="fas fa-sign-in text-white text-2xl"></i>
                </div>
            </div>

        </nav>
    </header>
    <div class="main"></div>

    <div class="container w-[90%] max-w-[1600px] m-auto mt-[10%] flex justify-center items-center">
        <div class="w-full">

            <div class=" w-full  p-5 rounded-[8px] bg-[#353a40]   shadow-[#000]   m-auto">
                <h1 class="text-xl text-[white] font-medium text-center">Complaint Form</h1>
            </div>

            <div class="options  flex justify-center items-center w-full mt-8  rounded-[8px] shadow-[#000000]  m-auto ">
                
                <div class="w-full">
                    <form action="">
                        <div class="input">
                            <label for="" class="text-white font-medium block mb-2">Police Station</label>
                            <select name="" id="police_station" class="border-none w-full  p-4 opacity-[0.8] outline-none">
                                <option value="">Select Police Station</option>
                                <option value="s">s</option>
                                <option value="d">d</option>
                                <option value="d">Select Police Station</option>
                                <option value="e">Select Police Station</option>
                            </select>

                        </div>

                        <div class="input flex max-[650px]:block items-center justify-between *:block gap-3">
                            <div class="w-2/4 max-[650px]:w-full max-[650px]:mb-4">
                                <label for="" class="text-white font-medium block mb-2">Location of crime</label>
                                <input type="text" placeholder="Location of crime" class=" outline-none  h-[46px] rounded-[4px] p-2 w-full">
                            </div>

                            <div class="w-2/4 max-[650px]:w-full max-[650px]:mb-4">
                                <label for="" class="text-white font-medium block mb-2">Vehicle Number</label>
                                <input type="text" placeholder="Location of crime" class=" outline-none h-[46px] rounded-[4px] p-2 w-full">
                            </div>
                            
                        </div>

                        <div class="input flex max-[650px]:block justify-between items-center w-full gap-3">
                            <div class="w-2/4 max-[650px]:w-full max-[650px]:mb-4">
                                <label for="" class="text-white font-medium block mb-2">Image of the vehicle</label>
                                <input type="file" accept="file_extension|.jpg,.png,.jpeg" class="text-[#353a40] p-2 rounded-[4px] w-full bg-white" placeholder="Full image of the vehicle">
                                <div id="image_preview1"></div>
                            </div>

                            <div class="w-2/4 max-[650px]:w-full max-[650px]:mb-4">
                                <label for="" class="text-white font-medium block mb-2">Image of number plate</label>
                                <input type="file" accept="file_extension|.jpg,.png,.jpeg" class="text-[#353a40] p-2  rounded-[4px] w-full bg-white">
                                <div id="image_preview2"></div>
                            </div>
                            
                        </div>

                        <div class="input w-full max-[650px]:block flex justify-between gap-3 items-center">
                            <div class="w-2/4 max-[650px]:w-full max-[650px]:mb-4">
                                <label for="" class="text-white font-medium block mb-2">Short video - (Optional)</label>
                                <input type="file" accept="video/mp4,video/mkv, video/x-m4v,video/*" class="text-[#353a40] p-2 rounded-[4px] w-full bg-white">
                            </div>

                            <div class="w-2/4 max-[650px]:w-full max-[650px]:mb-4">
                                <label for="" class="text-white font-medium block mb-2">Your contact</label>
                                <input type="text" placeholder="Your phone number of email" class="outline-none h-[46px] rounded-[4px] p-2 w-full">
                            </div>
                            
                        </div>

                        <div class="input w-full">
                            <label for="" class="text-white font-medium block mb-2">Complaint Note</label>
                            <textarea name="" id="" cols="30" rows="10" class="w-full max-h-[200px] max-w-[100%] outline-none min-h-[100px] p-2 rounded-[4px]" placeholder="Enter your complaint note"></textarea>
                        </div>

                        <button class="submit w-full bg-[#689095] h-[40px] my-[16px] rounded-[4px] text-white font-medium">Submit</button>

                    </form>
                </div>
 
            </div>
        </div>
    </div>  

    <footer class="w-90% m-auto my-[40px]">
        <p class="text-white text-center font-semibold text-xs opacity-7">Copyright all rights reserved to <a target="_blank" href="https://github.com/jahir-raihan">@github.com/jahir-raihan</a> - 2024</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
     $(function(){
      $("#police_station").selectize();
     }); 
    </script>
    

</body>
</html>