<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Complaint | Home</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/output.css">
</head>
<body class="bg-[#494F55]">

    <header id="header" class="bg-[#343A40] h-20">
        <nav class="flex justify-between w-[90%] m-auto max-w-[1600px] h-[100%] items-center">
            <div class="left-nav">
                <div class="logo">
                    <p class="font-medium text-white text-2xl" >Traffic <span class="text-red-400">Complaint</span></p>
                </div>
            </div>

            <div class="right-nav">
            
                <div class="nav-menus *:ml-4 *:cursor-pointer">
                    <i class="fas fa-circle-info text-white text-2xl"></i>
                    <i class="fas fa-sign-in text-white text-2xl"></i>
                </div>
            </div>

        </nav>
    </header>

    <div id="container" class="container w-[90%] max-w-[1600px] h-[88vh] m-auto flex justify-center items-center">
        <div class="w-full">

            <div class=" w-full  p-5 rounded-[8px] bg-[#353a40]   shadow-[#000]   m-auto">
                <h1 class="text-xl text-[white] font-medium text-center">Choose your option</h1>
            </div>

            <div class="options  flex justify-center items-center w-full mt-8  rounded-[8px] shadow-[#000000]  m-auto ">
                
                <div class="ml-[20px] mr-[20px] mt-[50px] mb-[50px] flex gap-[8px] *:text-l">
                    <a href="list_complaints.html">
                        <button class="bg-[#343A40] shadow-[#000000] shadow-sm transition text-white font-semibold p-3 pl-7 block hover:scale-105 rounded-[22px] rounded-r-none"><i class="fa-solid fa-wallet"></i> See complaints </button>

                    </a>

                    <div onclick="enable_modal('modal_id')">
                        <button class="bg-[#689095]  text-white font-semibold shadow-[#689095] shadow-sm block p-3 pr-7 hover:scale-105 transition rounded-[22px] rounded-l-none"><i class="fa-solid fa-notes-medical"></i> New complaint</button>
                
                    </div>

                </div>
                
            </div>
        </div>
    </div>  

    <div class="modal h-2/4 w-[70%] fixed top-[25%]  p-4 left-[15%] hidden  z-[100] max-w[1400px] shadow-[#000000] shadow-2xl  rounded  bg-[#e4e4e4] " id="modal_id">
        <div class="modal-header flex justify-between items-center">
            <p class="modal-title text-lg  opacity-8"><span class="font-medium"></p>
            <i onclick="disable_modal('modal_id')" class="fas fa-xmark rounded bg-[#343A40] text-white cursor-pointer shadow flex justify-center items-center h-[30px] w-[30px]"></i>
        </div>
        <div class="modal-body flex justify-center items-center w-full h-[90%]">
            <div class="complaint-navigator flex gap-[8px]">

                <a href="complaint_with_ai.html">
                    <button class="bg-[#dc664e]  text-white font-semibold shadow-[#689095] shadow-sm block p-3 pl-7 hover:scale-105 transition rounded-[22px] rounded-r-none"">
                        <i class="fas fa-robot"></i> Complaint with AI
                    </button>
                </a>
                

                <a href="complaint_form.html">
                     <button class="bg-[#515b51] shadow-[#000000] shadow-sm transition text-white font-semibold p-3 pr-7 block hover:scale-105 rounded-[22px] rounded-l-none">
                        <i class="fas fa-pen-to-square"></i> Complaint manually
                    </button>
                </a>
               
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>


    <footer id="footer" class="w-90% m-auto">
        <p class="text-white text-center font-semibold text-xs opacity-7">Copyright all rights reserved to @github.com/jahir-raihan - 2024</p>
    </footer>
    
    <script>
        function disable_modal(modal_id){
            document.getElementById(modal_id).classList.add('hidden')
            document.getElementById('header').classList.remove('blur-sm')
            document.getElementById('container').classList.remove('blur-sm')
            document.getElementById('footer').classList.remove('blur-sm')
        }

        function enable_modal(modal_id){
            document.getElementById(modal_id).classList.remove('hidden');
            document.getElementById('header').classList.add('blur-sm')
            document.getElementById('container').classList.add('blur-sm')
            document.getElementById('footer').classList.add('blur-sm')
        }
    </script>
</body>
</html>