<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Complaint | Home</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/output.css">
</head>
<body class="bg-[#494F55]">

    <header class="bg-[#343A40] h-20">
        <nav class="flex justify-between w-[90%] m-auto max-w-[1600px] h-[100%] items-center">
            <div class="left-nav">
                <div class="logo">
                    <p class="font-medium text-white text-2xl" >Traffic <span class="text-red-400">Complaint</span></p>
                </div>
            </div>

            <div class="right-nav">
            
                <div class="nav-menus *:ml-4 *:cursor-pointer">
                    <i class="fas fa-circle-info text-white text-2xl"></i>
                    <i class="fas fa-sign-in text-white text-2xl"></i>
                </div>
            </div>

        </nav>
    </header>

    <div class="container w-[90%] max-w-[1600px] h-[88vh] m-auto flex justify-center items-center">
        <div class="w-full">

            <div class=" w-full  p-5 rounded-[8px] bg-[#353a40]   shadow-[#000]   m-auto">
                <h1 class="text-xl text-[white] font-medium text-center">Choose your option</h1>
            </div>

            <div class="options  flex justify-center items-center w-full mt-8  rounded-[8px] shadow-[#000000]  m-auto ">
                
                <div class="ml-[20px] mr-[20px] mt-[50px] mb-[50px] flex gap-[8px] *:text-l">
                    <a href="list_complaints.html">
                        <button class="bg-[#343A40] shadow-[#000000] shadow-sm transition text-white font-semibold p-3 pl-7 block hover:scale-105 rounded-[22px] rounded-r-none">See complaints <i class="fa-solid fa-wallet"></i></button>

                    </a>

                    <a href="complaint_form.html">
                        <button class="bg-[#689095]  text-white font-semibold shadow-[#689095] shadow-sm block p-3 pr-7 hover:scale-105 transition rounded-[22px] rounded-l-none"><i class="fa-solid fa-notes-medical"></i> New complaint</button>
                
                    </a>

                </div>
                
            </div>
        </div>
    </div>  

    <footer class="w-90% m-auto">
        <p class="text-white text-center font-semibold text-xs opacity-7">Copyright all rights reserved to @github.com/jahir-raihan - 2024</p>
    </footer>
    
</body>
</html>