<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Complaints | Home</title>
   
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="../css/output.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.min.css" integrity="sha512-wCrId7bUEl7j1H60Jcn4imkkiIYRcoyq5Gcu3bpKAZYBJXHVMmkL4rhtyhelxSFuPMIoQjiVsanrHxcs2euu/w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    </script>
    <link rel="stylesheet" href="../css/raw_css.css">
</head>
<body class="bg-[#494F55]">

    <header id="header" class="bg-[#343A40] h-20">
        <nav class="flex justify-between w-[90%] m-auto max-w-[1600px] h-[100%] items-center">
            <div class="left-nav">
                <div class="logo">
                    <a href="index.html" class="font-medium text-white text-2xl" >Traffic <span class="text-red-400">Complaint</span></a>
                </div>
            </div>

            <div class="right-nav">
            
                <div class="nav-menus *:ml-4 *:cursor-pointer">
                    <i class="fas fa-circle-info text-white text-2xl"></i>
                    <i class="fas fa-sign-in text-white text-2xl"></i>
                </div>
            </div>

        </nav>
    </header>

    <div id="container" class="container w-[90%] max-w-[1600px]  options   mt-8  rounded-[8px] shadow-[#000000]  m-auto ">


        <div class="w-full">

            <button onclick="history.back()" class="bg-white rounded py-2 px-2 w-[100px] my-2 mb-6">
                <i class="fas fa-arrow-left"></i>
                Back
            </button>
            
            <form action="">
                <div class="input">
                    <label for="" class="text-white font-medium block mb-2">Police Station</label>
                    <select name="" id="police_station" class="border-none w-full  p-4 opacity-[0.8] outline-none">
                        <option value="">Search Police Station</option>
                        <option value="s">s</option>
                        <option value="d">d</option>
                        <option value="d">Select Police Station</option>
                        <option value="e">Select Police Station</option>
                        <option value="s">s</option>
                        <option value="d">d</option>
                        <option value="d">Select Police Station</option>
                        <option value="e">Select Police Station</option>
                    </select>

                </div>

               

                <div class="input w-full">
                    <label for="" class="text-white font-medium block mb-2">Search</label>
                    <input type="text" placeholder="Search with anything ..." class="outline-none h-[46px] rounded-[4px] p-2 w-full">
                </div>

            </form>
        </div>

        <div class=" w-full  text-white my-7" style="height:3px; background:white;"></div>

        <div class="complaints-list w-full  m-auto">
            <ul class="w-full">
                <li class="w-full">
                    <div class="complaint-card flex w-full justify-between items-center p-5 bg-slate-50 rounded-md shadow-sm shadow-slate-50 my-4 sm:flex">

                        <div class="complaint-card-left opacity-[.8]">
                            <p><b>Complaint no:</b> 1213010318313</p>
                            <p><b>Vehicle number:</b> 11-4565</p>
                            <p><b>Location of crime:</b> Merul Badda, DIT Project Dhaka</p>
                            <p><b>Complaint time:</b> 11 May, 2024 - 10:12 PM</p>
                        </div>

                        <div class="complaint-card-right text-center">
                            <p class="status font-medium">Status</p>
                            <p class="text-orange-400">Investigating</p>

                            <button onclick="enable_modal('modal_id')" class="view-proof-btn bg-slate-500 p-2 px-5 rounded text-white hover:bg-slate-400 mt-4">
                                <i class="fas fa-receipt mr-1"></i>
                                View Details
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="modal h-3/4 w-[70%] fixed top-[7.5em] p-4 left-[15%] z-[100] max-w[1400px] shadow-[#000000] shadow-2xl  rounded  bg-white hidden" id="modal_id">
        <div class="modal-header flex justify-between items-center">
            <p class="modal-title text-lg  opacity-8"><span class="font-medium">Complaint No:</span> 1213010318313</p>
            <i onclick="disable_modal('modal_id')" class="fas fa-xmark rounded bg-[#343A40] text-white cursor-pointer shadow flex justify-center items-center h-[30px] w-[30px]"></i>
        </div>

        <div class="modal-body mt-5 h-[82%]   border-t-2 border-b-2 overflow-y-scroll py-2">
            <div class="details mt-5">
                
                <p><b>Vehicle number:</b> <span>11-4565</span></p>
                <p><b>Location of crime:</b> <span>Merul Badda, DIT Project Dhaka</span></p>
                <p><b>Complaint time:</b> <span>11 May, 2024 - 10:12 PM</span></p>

                <p class="mt-2"><b>Complaint Note: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quas ratione dolorem incidunt atque, eveniet aut, totam odio ipsam, delectus nobis necessitatibus veritatis eligendi reiciendis officia assumenda eaque dolorum. Ipsam, molestias amet. Dolore, mollitia expedita. Iste, repellendus asperiores nemo impedit beatae ea non error in blanditiis officiis, quod fuga tenetur dignissimos? Hic debitis iure a voluptatem quis voluptas nobis maiores, rerum deserunt. Ipsam rem, iusto ipsa, maxime molestiae aliquam assumenda accusamus maiores exercitationem veniam, et dignissimos hic placeat? Aperiam nemo molestiae quas optio saepe tenetur fuga harum fugit dicta incidunt consequatur impedit consequuntur voluptatum, magni nesciunt quisquam dolorum! Ipsum, rerum.</p>
            </div>

            <div class="files mt-5">

                <p class="text-lg font-medium opacity-8 mb-2">Image(s)</p>
                <img class="h-[300px] object-cover" src="../images//bus-road-dhaka-front-notre-dame-college-bus-road-dhaka-front-notre-dame-college-168316658.webp" alt="">
            </div>
        </div>

        <div class="modal-footer"></div>

    </div>


    <footer class="w-90% m-auto my-[40px]">
        <p class="text-white text-center font-semibold text-xs opacity-7">Copyright all rights reserved to <a target="_blank" href="https://github.com/jahir-raihan">@github.com/jahir-raihan</a> - 2024</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
     $(function(){
      $("#police_station").selectize();
     }); 

    function disable_modal(modal_id){
        document.getElementById(modal_id).classList.add('hidden')
        document.getElementById('header').classList.remove('blur-sm')
        document.getElementById('container').classList.remove('blur-sm')
        document.getElementById('footer').classList.remove('blur-sm')
    }

    function enable_modal(modal_id){
        document.getElementById(modal_id).classList.remove('hidden');
        document.getElementById('header').classList.add('blur-sm')
        document.getElementById('container').classList.add('blur-sm')
        document.getElementById('footer').classList.add('blur-sm')
    }
    </script>
    

</body>
</html>